/*头部*/
.c-head{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    color: #fff;
    height: 65px;
    background-color: #18A689;
    border-bottom: 1px solid #D1D2D2;
}
.c-header{
    padding-left: 30px;
}
.c-lists-header span{
    position: absolute;
    top: 15px;
    right: 20px;
    font-size: 18px;
    box-shadow: 3px 3px 11px #888888;;
}

/*整个下面部分*/
.c-lists{
    margin-top: 65px;
}
/*放种类的*/
.c-kinds{
    background-color: #15B594;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    padding-left: 25px;
}
.c-kinds>span+span:before{
    padding: 0 10px;
    color: #ccc;
    content: "|";
}
.c-chosen-kind{
    color: #8FEF36;
    font-size: 23px;
}
/*外面的框*/
.c-item{
    border-bottom: 1px solid #D1D2D2;
}
/*分三块*/
.c-picture{
    float: left;
    height: 150px;
    width: 120px;
}
.c-img{
    height: 140px;
    width: 120px;
    top: 5px;
    position: relative;
}
/*第二块*/
.c-food{
    float: left;
}
.c-food h2{
    margin-left: 9px;
}
.c-food h4{
    font-size: 15px;
    position: relative;
    left: 57px;
    color: #ff9933;
}
.c-food h3{
    margin-left: 13px;
    line-height: 30px;
}

.c-num{
    float: left;
    margin-left: 13px;
    font-size: 28px;
    margin-bottom: 20px;
}
.c-num input{
    width: 42px;
    height: 46px;
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 10px;
}
.c-num h2{
    position: relative;
    left: 11px;
}
/*第三块*/
.c-choose{
    font-size: 20px;
    color: #A1C2C2;
    margin-top: 19px;
    margin-bottom: 20px;
}
.c-choose i{
    border-radius: 40px;
    border: solid 6px #A1C2C2;
    padding: 7px;
    margin-left: 7px;
}
.c-choose>i+i{
    margin-left: 10px;
}
.c-chosen{
    color: #18A689;
    border-color: #18A689!important;
}

/*固定在下面的东西*/
.c-foot{
    background-color: rgba(255,255,255,.9);
    border-top: solid 1px #D1D2D2;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.c-mine-btn{
    width: 80%;
    left: 10%;
    position: relative;
    margin: 10px 0;
    font-size: 20px;
}
.c-only-btn{
    width: 48%;
    position: relative;
    left: 25%;
    margin: 10px 0 70px 0;
    font-size: 20px;
}
.c-foot-i{
    font-size: 30px;
}
.c-foot-div{
    margin: 10px 0 5px 0;
    display: inline-block;
    width: 25%;
}
.c-foot-chosen{
    color: #18A689;
}

/*用户信息*/
.c-user-info{
    position: relative;
    margin: 0;
    padding: 20px 42px;
    border-bottom: 1px solid #d7d7d7;
}
.c-user-tele{
    font-size: 24px;
    right: 63px;
    top: 22px;
    position: absolute;
}
.c-user-level{
    font-size: 24px;
    right: 70px;
    top: 61px;
    color: #FCA302;
    position: absolute;
}
.c-user-img{
    height: 80px;
    width: 80px;
    border-radius: 40px;
    position: relative;
}
.c-division{
    height: 10px;
    background-color: rgb(243, 243, 244);
}
/*订单*/
.c-order{
    padding-left: 38px;
}
.c-order .c-time{
    font-size: 20px;
}
.c-menu-name{
    margin-left:10px;
}
.c-order .c-price{
    font-size: 16px;
}
/*用来提示的东西,包括活动*/
.c-tip{
    padding: 13px 27px;
    color: #fff;
    width: 50%;
    position: fixed;
    height: 43%;
    left: 25%;
    top: 25%;
    background-color: #33cc99;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #888888;
}

.c-activity{
    padding: 13px 27px;
    color: #fff;
    width: 70%;
    position: fixed;
    height: 65%;
    left: 15%;
    top: 18%;
    background-color: #33cc99;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #888888;
}
.c-activity span{
    position: absolute;
    right: 15px;
    top: 10px;
}
