/*头部*/
.c-head{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    color: #fff;
    height: 65px;
    background-color: #18A689;
    border-bottom: 1px solid #D1D2D2;
}
.c-header{
    padding-left: 30px;
}


/*整个下面部分*/
.c-lists{
    margin-top: 65px;
}
/*放种类的*/
.c-kinds{
    background-color: #15B594;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    padding-left: 25px;
}
.c-kinds>span+span:before{
    padding: 0 10px;
    color: #ccc;
    content: "|";
}
.c-chosen-kind{
    color: #8FEF36;
    font-size: 23px;
}
/*外面的框*/
.c-item{
    border-bottom: 1px solid #D1D2D2;
}
/*分三块*/
.c-picture{
    float: left;
    height: 150px;
    width: 120px;
}
.c-img{
    height: 140px;
    width: 120px;
    top: 5px;
    position: relative;
}
/*第二块*/
.c-food{
    float: left;
    width: 139px;
}
.c-food h2{
    margin-left: 9px;
}
.c-food h4{
    font-size: 15px;
    position: relative;
    left: 57px;
    color: #ff9933;
}
.c-food h3{
    margin-left: 13px;
    line-height: 30px;
}

.c-num{
    float: left;
    margin-left: 13px;
    font-size: 28px;
}
.c-num input{
    width: 42px;
    height: 46px;
    margin-left: 9px;
    margin-right: 9px;
    padding-left: 10px;
}
.c-num h2{
    position: relative;
    left: 11px;
}
/*第三块*/
.c-choose{
    float: left;
    font-size: 57px;
    margin-top: 34px;
    margin-left: 10px;
    color: #D1D2D2;
}
.c-chosen{
    color: #18A689;
}

/*固定在下面的东西*/
.c-foot{
    background-color: rgba(255,255,255,.9);
    border-top: solid 1px #D1D2D2;
    width: 100%;
    position: fixed;
    bottom: 0px;
}
.c-mine-btn{
    width: 80%;
    left: 10%;
    position: relative;
    margin: 10px 0;
    font-size: 20px;
}
.c-first-btn{
    width: 40%;
    position: relative;
    left: 10%;
    margin: 10px 0;
    font-size: 20px;
}
.c-second-btn{
    margin: 10px 0;
    width: 40%;
    position: relative;
    left: 15%;
    font-size: 20px;
}
.c-only-btn{

}

/*用来提示的东西*/
.c-tip{
    padding: 13px 27px;
    color: #fff;
    width: 50%;
    position: fixed;
    height: 30%;
    left: 25%;
    top: 25%;
    background-color: #33cc99;
    border-radius: 10px;
    box-shadow: 3px 3px 13px #888888;;
}
.c-back-btn{
    width: 70%;
    position: relative;
    left: 15%;
    font-size: 20px;
}