// firstly made by jiayi.xu@dianping.com 2014-12
doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    title= title + " - 餐厅管理后台"
    link(rel="stylesheet",href="css/bootstrap.min.css")
    link(rel="stylesheet",href="font-awesome/css/font-awesome.css")
    link(rel="stylesheet",href="css/animate.css")
    link(rel="stylesheet",href="css/mod/toastr.css")
    link(rel="stylesheet",href="css/style.css")
  body
    block content
    script(src='js/jquery-1.10.2.js')
    script(src="js/bootstrap.min.js")
    script(src="js/mod/toastr.js")
    script(src="/js/plugins/jquery.mestiMenu.js")
    block scripts
